body{
    
}

.wrapper .header{
    display: flex;
    border: 2px solid goldenrod ;
    max-width: 900px;
    justify-content: center;
    padding: 20px;

}

.list {
    list-style-type: none;
    justify-content: center;
}