
body{
    margin: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.img {
   
    display: flex;
    justify-content: center;
    margin:50px; 
    padding: 10px;
}

.main{
    
    grid-gap:10px;	
    overflow: hidden;
	display: grid;
    justify-content: center;
}



@media (min-width: 400px) {


    .main {
        grid-gap:10px;	
        overflow: hidden;
        display: grid;
        justify-content: center;
    }

}