
body{
    background: burlywood;
}


.image {
  display: grid;
  justify-content: center;
}

.image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #273414;
    padding: 4px;
    
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 3px;
    gap: 25px;
  }
  
  .item {
    border: 1px solid #4a3d2e;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    font-family: fantasy;
  }

  
         @media (max-width: 500px) 
         { 
            .main  { 
                grid-template-columns: 1fr; 
                grid-template-rows: repeat(4,1fr); 
                grid-template-areas:  
                                     "item" 
                                     "item"
                                     "item"
                                     "item";
            }
  }

          @media (min-width: 900px)  
          {
            .image {
              display: grid;
              justify-content: center;
            }
            
            .image img{
                width: 300px;
                height: 300px;
                border-radius: 50%;
          }
        }      

    